
.row-history-colm
{         
    
    margin :0px auto;
    padding : 30px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
        }
           
.corporate-leadership{
    padding: 40px 40px 40px 40px;
}